[Telegram]
token =

[Common]
welcome_message = Если ты битмейкер и пишешь музыку или сводишь песни. Или может ты графический или веб дизанер, а может даже дизанер одежды. Или ты умеешь делать что-то очень хорошо, или хочешь быть полезным нам и поделиться своими идеями, ты можешь отправить сюда свои работы, а Тимофей обязательно их посмотрит!
received_message = ℹ️ Вам были отправлены следующие данные:
sender_message  = 👤 Сообщение отправил:

[Beatmaker]
reply_button_text = 🎵 Beatmaker
recipient_group_id =
file_request_message = Загрузите, пожалуйста, Ваш аудио файл (принимается только mp3, wav)
validation_message = Принимаются только mp3, wav файлы
success_message = Благодарим, Ваши данные обрабатываются!
message_to_admin_chat = ℹ️ Вам были отправлены следующие данные:

[Mixing]
reply_button_text = 🎧 Mixing
recipient_group_id =
file_request_message = Загрузите, пожалуйста, Ваш аудио файл (принимается только mp3, wav)
validation_message = Принимаются только mp3, wav файлы
success_message = Благодарим, Ваши данные обрабатываются!
message_to_admin_chat = ℹ️ Вам были отправлены следующие данные:

[Designer]
reply_button_text = 💻 Graphic Designer
recipient_group_id =
file_request_message = Отлично, загрузи свой графический  файл (jpeg, png, pdf, svg)
validation_message = Принимаются только изображения (jpeg, png, pdf, svg)
success_message = Благодарим, Ваши данные обрабатываются!
message_to_admin_chat = ℹ️ Вам были отправлены следующие данные:

[Clothes]
reply_button_text = 👗 Clothes Designer
recipient_group_id =
file_request_message = Отлично, загрузи свой графический  файл (jpeg, png, pdf, svg)
validation_message = Принимаются только изображения
success_message = Благодарим, Ваши данные обрабатываются!
message_to_admin_chat = ℹ️ Вам были отправлены следующие данные:

[Other]
reply_button_text = 💡 Другое
recipient_group_id =
file_request_message = Отлично, загрузи свой графический  файл (jpeg)
validation_message = Принимаются только изображения (jpeg, png, pdf, svg)
success_message = Благодарим, Ваши данные обрабатываются!
message_to_admin_chat = ℹ️ Вам были отправлены следующие данные:
